<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Menu</a>
    </mat-nav-list>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Productos</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/products">Productos</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-sidenav>

  <mat-sidenav-content>
  <mat-toolbar color="primary" class="layout-toolbar">
    <div class="div-column-1">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
    </div>
    <div class="div-column-10 div-title">
      <span class="layout-title">Prueba Famisanar</span>
    </div>
    <div class="div-column-1"></div>
  </mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <span>© 2025 Prueba Famisanar</span>
  </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
